{
    "server":"x.x.x.x",
    "server_port":1225,
    "local_address":"127.0.0.1",
    "local_port":1080,
    "password":"pengfeivpn",
    "timeout":300,
    "method":"aes-256-cfb",
    "fast_open":false
}